html {
  font-size: 16px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  width: 100%;
}

/* navigation styling */
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: gray;

}

.nav-list {
  display: flex;
}

.nav-list a {
  display: block;
  font-size: 2em;
  padding: 10px;
}
/* end navigation styling */

/* welcome section styling */
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #ccc;

}
/* end welcome section styling */

/* projects section styling */
.projects-section {
  text-align: center;
  padding: 10rem 4rem;
}

.projects-section p {
  font-size: 1.8rem;
  padding: 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 8rem 6rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.project-tiles {
  display: flex;
  flex-direction: column;
}

.project-image {

  object-fit: fill;
}

.project-tile:hover {
    text-decoration: underline;
    margin: 2px;
}
/* end projects section styling */

/* begin contact section styling*/
.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 0 2rem;

}

.contact-details {
  font-size: 2em;
  display: inline-block;
  padding: 15px;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(5px);
}
/*end contact section styling */

/* providing for narrow screens */
@media (max-width: 600px) {
.nav-list a {
  font-size: 1.2em;
  padding: 5px;
}
.projects-section p {
  font-size: 1rem;
}
.projects-grid {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 4rem 3rem;
  max-width: 550px;
} 
.contact-details {
  font-size: 1.4em;
  padding: 10px;
}
  
}